body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

button {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: #2e2f42;
}

address {
    text-decoration: none;
    font-style: normal;
}

ul {
    list-style-type: none;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
}

.studio {
    font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.16667;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #2e2f42;
}

.navigation-list-item {
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
        display: block;
        padding: 24px 0;
}

.navigation-list-link:hover,
.navigation-list-link:focus {
    color: #404bbf;
}

.adress-list-link {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

.adress-list-link:hover,
.adress-list-link:focus {
    color: #404bbf;
}

.hero {
    background-color: #2e2f42;
}

.hero-title {
    font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        text-align: center;
        color: #fff;
        margin: 0 auto;
        max-width: 496px;
}

.hero-button {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #fff;
        background-color: #4d5ae5;
        margin: 0 auto;
}

.hero-button:hover,
.hero-button:focus {
    background-color: #404bbf;
}

.advantages-title {
    color:#2e2f42;
}

.advantages-list-item {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
        width: calc((1128 - 72) / 4);
}

.advantages-subtitle {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
        padding-bottom: 8px;
}

.team {
    background-color: #f4f4fd;;
}

.team-title {
    font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        text-transform: capitalize;
        color: #2e2f42;
        margin-bottom: 72px;
}

.team-subtitle {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        padding-bottom: 8px;
}

.team-list-item {
    background-color: #FFFFFF;
}
.team-list-item-text {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
        color: #434455;
}
 .portfolio-title {
    font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        text-transform: capitalize;
        color: #2e2f42;
        margin-bottom: 72px;
 }

 .portfolio-subtitle {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color:#2e2f42;
        margin-bottom: 8px;
 }

 .portfolio-list-item-text {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
 }

 .footer {
    background-color: #2e2f42;
    padding: 100px 0;
 }

 .footer-text {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
        max-width: 264px;
        margin-top: 16px;
 }

 .footer-studio {
    color: #f4f4fd;
    line-height: 1.17
 }

h1, h2, h3, h4, p {
    margin: 0;
}

ul {
    margin: 0;
    padding-left: 0;
}

.container {
    width: 1158px;
    margin: 0 auto;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation-list {
    display: flex;
    gap: 40px;
}

.adress-list {
    display: flex;
    gap: 40px;
}

.advantages-list {
    display: flex;
    gap: 24px;
}
 .section {
    padding: 120px 0;
 }

.team-list {
    display: flex;
    gap: 24px;
}

.portfolio-list {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
}